.about-me {

  & .know-more-section {
    & .details {
      color: #FFF;

      font-family: Montserrat, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      & p {
        margin-bottom: 20px;
      }
    }

  }

  & .my-experiences-section {
    & title {
      color: #3E3D3D;
      text-align: center;
      font-family: Libre Baskerville, sans-serif;
      font-size: 3rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    & .my-experience {

      &_title {
        color: #FFF;
        font-family: Libre Baskerville, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      &_sub-title {
        color: #231F20;

        font-family: Montserrat, sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      &_tenure {
        color: #233232;

        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      &_details li {
        color: rgba(0, 0, 0, 0.80);
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

    }
  }


  & .degree-section {
    & title {
      color: #FFF;
      font-family: Libre Baskerville, sans-serif;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    & .degree-title {
      color: #231F20;
      font-family: Montserrat, sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    & h2.text-white {
      font-family: Libre Baskerville, sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    & .degree-institute {
      color: rgba(0, 0, 0, 0.75);

      font-family: Montserrat, sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

    }

    & .degree-tenure {
      color: rgba(0, 0, 0, 0.75);

      font-family: Montserrat, sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  & .achievements-section {
    & .title {
      color: #231F20;
      font-family: Montserrat, sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-bottom: 10px;
    }

    & .details {
      color: #000;
      font-family: Montserrat, sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  & .what-can-I-do-section {
    & .ability {
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-right: 34px;

      &_title {
        color: #FFF;
        font-family: Libre Baskerville, sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 10px;
      }

      &_details {
        color: #000;
        font-family: Montserrat, sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .what_can_row_main {
      padding: 50px 46px 0;
    }

    & .experience {
      border-left-color: white;
      border-left-width: 2.5px;
      border-left-style: solid;
      padding-left: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;

      &_title {
        color: #FFF;
        font-family: Montserrat, sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      &_details {
        color: #000;
        font-family: Montserrat, sans-serif;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        & ul {
          margin-left: 1rem;

          & li {
            color: #000;
            font-family: Montserrat, sans-serif;
            font-size: 25px;
            font-style: normal;
            font-weight: 500;
            line-height: 35px;
          }
        }

      }
    }
  }

  & .how-i-do-it {
    & .the-basic-process {
      &_title {
        color: #FFF;

        font-family: Monthe-basic-processtserrat, sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      &_details {
        color: rgba(0, 0, 0, 0.75);
        font-family: Montserrat, sans-serif;
        font-size: 26px;
        font-style: normal;
        line-height: normal;
        font-weight: 400;

        & b {
          color: #000;
          font-family: Montserrat, sans-serif;
          font-size: 1.625rem;
          font-style: normal;
          line-height: normal;
          font-weight: 600;
        }
      }

    }
    & .the-basic-process { padding:0 34px 40px; }
    & .process {
      &_image img {
        width: 100% !important;
      }

      &_title {
        color: #FFF;
        font-family: Montserrat, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      &_details {
        color: #000;
        font-family: Montserrat, sans-serif;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }

}



/* responsive*/
@media(max-width: 1376px){
    .about-me {
      .how-i-do-it {
        .process_title { font-size: 28px;
        }
      }
    }
}
@media(max-width: 1070px){
    .about-me {
      & .my-experiences-section {
        & .my-experience_title {
          font-size: 32px;
         }
        & .my-experience_sub-title { font-size: 30px; }
      }
      & .degree-section {
        & .degree-institute {
          font-size: 20px;
        }
      }
      & .achievements-section {
        & .details {
          font-size: 25px;
        }
      }
      & .what-can-I-do-section {
        & .what_can_row_main {
          padding: 40px 34px 0;
        }
        & .ability_details{ font-size: 25px; }
          & .experience_details {
            & ul {
              & li
              {
                font-size: 22px;
              }
            }
          }
        }
      }

}

@media(max-width: 1024px){
   .about-me {
      & .degree-section {
      & .degree-title {
        font-size: 30px;
      }
      & .degree-institute {
        font-size: 17px;
      }
    }
    }
}
@media (max-width: 767px){
  .about-me {
    & .know-more-section {
      & .details { font-size: 16px; }
    }
    & .my-experiences-section {
      & .my-experience_details {
        & li{ font-size: 16px;}
      }
      & .my-experience_sub-title {
        font-size: 25px;
      }
    }
    & .degree-section {
      & h2.text-white {
        font-size: 34px;
      }
      & .degree-title {
        font-size: 22px;
        & span { display: block}
      }
     & .degree-institute{ font-size: 18px; }
     & .degree-tenure {font-size: 16px; }
    }
    & .achievements-section {
     & .title {
       font-size: 22px;
     }
     & .details { font-size: 16px; }
   }
    & .what-can-I-do-section {
      & .what_can_row_main { padding: 20px 0 }
      & .ability_title { font-size: 22px; }
      & .ability_details { font-size: 16px; }
      & .experience_title { font-size: 22px; }
      & .experience_details {
        & ul { margin-left: 0;
          & li { font-size: 16px; line-height: 25px; }
        }
      }
    }
    & .how-i-do-it {
      & .the-basic-process_title{
        font-size: 28px; margin: 20px 0;
      }
      & .the-basic-process { padding:0 0 20px; }
      & .the-basic-process_details {
        font-size: 16px;
        & b { font-size: 16px; }

      }
      & .process_title { font-size: 22px; }
      & .process_details { font-size: 16px; }
    }
    & .my-experiences-section {
      & .my-experience_title {
        font-size: 30px;
        margin-bottom: 20px;
      }
    }
  }
}
@media(max-width: 565px){
  .know-more-section { padding:40px 0 0 !important; }
  .ability_title { padding:20px 0}
  .process_image { margin-bottom: 20px; }
  .process { padding-bottom: 40px; }
  .my-experiences-section { padding: 30px 0 0  !important;}
}





