<section class="contact-me-section px-5">
  <div>
    <span>------- Let's keep in touch</span>
  </div>

  <div>
    Contact me
  </div>

  <div>
    It’s good to see you here. Drop your message below and let’s have a cup of coffee.
  </div>

  <div>
    +1 (475) 287 6062
  </div>

  <div>nagaraju850109&#64;gmail.com</div>

  <div>
    <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
    <a href="https://www.behance.com" target="_blank">Behance</a>
  </div>

  <hr/>

  <div>2023 Nagaraju Uppala</div>


</section>
